body {
  background: #ddd;
  padding-bottom: 40px;
}

.container {
  background: white;
}

.navbar .navbar-brand {
  width: 100px;
}
.navbar .navbar-brand img {
  width: 100%;
}

.main-wrapper {
  margin-top: 20px;
}

.personal-data {
  background-image: url("../img/bg-pattern.png");
  background-color: #2D2D2D;
}
.personal-data .resume-picture {
  border: 1px solid #40f704;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: url("../img/profile-pic.jpg");
  background-size: cover;
  margin: 30px auto;
}
.personal-data .data-wrapper h2 {
  color: white;
  background: rgba(64, 247, 4, 0.7);
  font-size: 16px;
  padding: 5px 5px 5px 15px;
  margin-bottom: 20px;
}
.personal-data .data-wrapper .data-label {
  padding-left: 30px;
}
.personal-data .data-wrapper .data-label.name {
  background: url("../img/svg/person.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label.address {
  background: url("../img/svg/location.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label.phone {
  background: url("../img/svg/device-mobile.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label.email {
  background: url("../img/svg/mail.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label.website {
  background: url("../img/svg/link.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label.skype {
  background: url("../img/svg/skype-logo.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label.twitter {
  background: url("../img/svg/twitter-logo.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label.linkedin {
  background: url("../img/svg/linkedin-logo.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label.facebook {
  background: url("../img/svg/facebook-logo.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label.verified {
  background: url("../img/svg/verified.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
}
.personal-data .data-wrapper .data-label .label-title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0px;
}
.personal-data .data-wrapper .data-label .label-content {
  font-size: 12px;
  color: white;
  font-style: italic;
}

.experience-data .resume-header {
  background: #191919;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 40px 30px 30px 50px;
}
.experience-data .resume-header h1 {
  color: #40f704;
  font-size: 36px;
}
.experience-data .resume-header h3 {
  color: white;
  font-style: cursive;
  font-size: 16px;
}
.experience-data .resume-body {
  padding: 40px 35px 0 35px;
}
.experience-data .resume-body .resume-block .block-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
.experience-data .resume-body .resume-block .block-article {
  margin-top: 20px;
}
.experience-data .resume-body .resume-block .block-article .date-wrapper {
  border: 1px solid #333;
  box-shadow: 3px 3px 3px #ccc;
  width: 100%;
  text-align: center;
}
.experience-data .resume-body .resume-block .block-article .article-wrapper .article-title {
  font-size: 18px;
  font-weight: bold;
}
.experience-data .resume-body .resume-block .block-article .article-wrapper .article-subtitle {
  font-style: italic;
  font-size: 14px;
  color: #006cff;
  font-weight: bold;
}
.experience-data .resume-body .resume-block .block-article .article-wrapper .article-text {
  font-size: 14px;
  color: #333;
  text-align: justify;
}
.experience-data .resume-body .resume-block .block-article:last-of-type {
  margin-bottom: 40px;
}
.experience-data .resume-body .resume-block .skill-wrapper {
  margin-bottom: 30px;
}
.experience-data .resume-body .resume-block .skill-wrapper .skill-content .progress {
  background: #006cff;
}
.experience-data .resume-body .resume-block .skill-wrapper .skill-content .progress .progress-bar {
  background-color: #40f704;
}
.experience-data .resume-body .resume-block .skill-wrapper .skill-content .progress .progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(45, 45, 45, 0.25) 25%, transparent 25%, transparent 50%, rgba(45, 45, 45, 0.25) 50%, rgba(45, 45, 45, 0.25) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

/*# sourceMappingURL=main.css.map */
