$kodeGreen:rgb(51,255,0);
$kodeBlue:rgb(0,102,255);
$kodeYellow:rgb(255,255,0);
$kodeMagenta:rgb(204,0,255);
$kodeCyan:rgb(0,255,255);
$kodeRed:rgb(255,0,0);
$kodeWhite:rgb(208,208,208);
$kodeAlpha:.7;

:root {
  --primary-color:51,255,0;
  --secondary-color:0,102,255;
  --main-opacity: .7;
}

body{
	background:#ddd;
	padding-bottom:40px;
}

.palette-wrapper{
	position: absolute;
    left: 0;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s;
    -webkit-transition: all 1s;
	.toggle-palette{
		width: 50px;
		height: 50px;
		background:url("../img/color-palette.png");
		background-size:100%;
		background-repeat:no-repeat;
    	cursor: pointer;
	}
	.schema-selector{
		position:relative;
		height:30px;
		margin-bottom:10px;
		cursor:pointer;
		&:before{
			content:"";
			width:15px;
			height:30px;
			border-radius:50px 0px 0px 50px;
			display:block;
			position: absolute;
			top:0px;
			left:10px;
		}
		&:after{
			content:"";
			width:15px;
			height:30px;
			border-radius:0px 50px 50px 0px;
			display:block;
			position: absolute;
			top:0px;
			right:10px;
			display:block;
		}
		&.schema-1{
			&:before{
				background:$kodeMagenta;
			}
			&:after{
				background:$kodeBlue;
			}
		}
		&.schema-2{
			&:before{
				background:$kodeYellow;
			}
			&:after{
				background:$kodeGreen;
			}
		}
		&.schema-3{
			&:before{
				background:$kodeMagenta;
			}
			&:after{
				background:$kodeRed;
			}
		}
		&.schema-4{
			&:before{
				background:$kodeGreen;
			}
			&:after{
				background:$kodeYellow;
			}
		}
		&.schema-5{
			&:before{
				background:$kodeGreen;
			}
			&:after{
				background:$kodeBlue;
			}
		}
	}
	.selectors-wrapper{
		height:0px;
		overflow:hidden;
		&.active{
			padding-top:10px;
			height:auto;
		}
	}
}

.navbar{
	.navbar-brand{
		width:100px;
		img{
			width:100%;
		}
	}
}

.main-wrapper{
	.card{
		margin-top:20px;
		background:url("../img/bg-pattern.png");
		background-color:#333;
		h1, h2{
			color:$kodeBlue;
		}
		h1{
			font-size:24px
		}
		h2{
			font-size:20px;
		}
		label{
			color:$kodeGreen;
		}
		.form-control{
			background-color: rgba(0,0,0,.5);
		    color: white;
		    border: none;
		    border-bottom: 2px solid $kodeGreen;
		    border-radius: 0px;
		    &::-webkit-input-placeholder{
		    	color:white;
		    }
		}
		.btn-outline-success{
			border-color:$kodeGreen;
			color:$kodeGreen;
			font-weight:bold;
			&:hover{
				background:$kodeGreen;
				color:#333;
				font-weight:bold;
			}
		}
	}
}

.personal-data{
	background-image:url("../img/bg-pattern.png");
	background-color:#2D2D2D;
	.resume-picture{
		border:1px solid rgb(var(--primary-color));
		width:120px;
		height:120px;
		border-radius:100%;
		background:url("../img/profile-pic.jpg");
		background-size:cover;
		margin:30px auto;
	}
	.data-wrapper{
		h2{
			color:white;
			background:rgba(var(--primary-color),var(--main-opacity));
			font-size:16px;
			padding:5px 5px 5px 15px;
			margin-bottom:20px;
		}
		.data-label{
			padding-left:30px;
			position:relative;
			&:before{
				content:"";
				position:absolute;
				left:0;
				top:calc(50% - 10px);
				width:20px;
				height:20px;
				background-color: rgb(var(--primary-color));
			}

			&.name:before{
		    	-webkit-mask:  url("../img/svg/person.svg") no-repeat 100%;
		   		mask: url("../img/svg/person.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
		    }
			&.address:before{
				-webkit-mask:  url("../img/svg/location.svg") no-repeat 100%;
		   		mask: url("../img/svg/location.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
			}
			&.phone:before{
				-webkit-mask:  url("../img/svg/device-mobile.svg") no-repeat 100%;
		   		mask: url("../img/svg/device-mobile.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
			}
			&.email:before{
				-webkit-mask:  url("../img/svg/mail.svg") no-repeat 100%;
		   		mask: url("../img/svg/mail.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
			}
			&.website:before{
				-webkit-mask:  url("../img/svg/link.svg") no-repeat 100%;
		   		mask: url("../img/svg/link.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
			}
			&.skype:before{
				-webkit-mask:  url("../img/svg/skype-logo.svg") no-repeat 100%;
		   		mask: url("../img/svg/skype-logo.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
			}
			&.twitter:before{
				-webkit-mask:  url("../img/svg/twitter-logo.svg") no-repeat 100%;
		   		mask: url("../img/svg/twitter-logo.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
			}
			&.linkedin:before{
				-webkit-mask:  url("../img/svg/linkedin-logo.svg") no-repeat 100%;
		   		mask: url("../img/svg/linkedin-logo.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
			}
			&.facebook:before{
				-webkit-mask:  url("../img/svg/facebook-logo.svg") no-repeat 100%;
		   		mask: url("../img/svg/facebook-logo.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
			}
			&.verified:before{
				-webkit-mask:  url("../img/svg/verified.svg") no-repeat 100%;
		   		mask: url("../img/svg/verified.svg") no-repeat 100%;
		   		mask-size:100% 100%;
			    -webkit-mask-size:100% 100%;
			}
			.label-title{
				font-size:16px;
				font-weight:bold;
				color:white;
				margin:0px;

			}
			.label-content{
				font-size:12px;
				color:white;
				font-style:italic;
			}
		}
	}
}

.experience-data{
	.resume-header{
		background:#191919;
		width:calc(100% + 30px);
		margin-left:-15px;
		padding:40px 30px 30px 50px;
		h1{
			color:rgb(var(--primary-color));
			font-size:36px;
		}
		h3{
			color:white;
			font-style:cursive;
			font-size:16px;
		}
	}
	.resume-body{
		padding:40px 35px 0 35px;
		.resume-block{
			.block-title{
				text-transform: uppercase;
			    letter-spacing: 5px;
			    font-size: 18px;
			    color: #333;
			    border-bottom: 1px solid #333;
			    padding-bottom: 10px;
			}
			.block-article{
				margin-top:20px;
				.date-wrapper{
					border:1px solid #333;
					box-shadow:3px 3px 3px #ccc;
					width:100%;
					text-align:center;
				}
				.article-wrapper{
					.article-title{
						font-size:18px;
						font-weight: bold;
					}
					.article-subtitle{
						font-style: italic;
					    font-size: 16px;
					    color: rgb(var(--secondary-color));
					    font-weight: bold;
					    //-webkit-text-stroke: .04em #777;
					    //text-shadow: 1px 1px 31px #333;
					}
					.article-text{
						font-size:14px;
						color:#333;
						text-align:justify;
					}
				}
				&:last-of-type{
					margin-bottom:40px;
				}
			}
			.skill-wrapper{
				margin-bottom:30px;
				.skill-content{
					.progress{
						background:rgb(var(--secondary-color));
						.progress-bar{
							background-color:rgb(var(--primary-color));
						}
						.progress-bar-striped{
							    background-image: linear-gradient(45deg,rgba(45,45,45,.25) 25%,transparent 25%,transparent 50%,rgba(45,45,45,.25) 50%,rgba(45,45,45,.25) 75%,transparent 75%,transparent);
    							background-size: 1rem 1rem;
						}
					}
				}
			}
		}
	}
}
